@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Override variables

$navbar-breakpoint: $tablet; // original: $desktop
$section-padding: 0 1.5rem; // original: 3rem 1.5rem

@import "../../node_modules/bulma/bulma.sass";

// Layout

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-header {
  background: $dark;
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;

  .site-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;

    a {
      text-decoration: none;
      color: $dark-invert;
    }
  }
}

.content {
  .main {
    :first-child {
      margin-top: 0;
    }
  }

  // Fix
  .tabs ul {
    margin-left: 0;
  }
}

.footer {
  margin-top: 2rem;
  padding: 2rem 0;
}

// Elements

.incident-listing {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-title {
    margin: 0;
    font-weight: normal;
  }

  // &-meta {
  // }
}

.embed-links {
  &-tabs {
    margin-bottom: 1em;
  }
}

// reddit embed iframe wrapper
.embedly-card-hug {
  margin: 0 !important;
}
