@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Override variables

$widescreen-enabled: false; // original: true
$fullhd-enabled: false; // original: true
$navbar-breakpoint: $tablet; // original: $desktop

@import "../../node_modules/bulma/bulma.sass";

// Layout

@mixin below-desktop-padding {
  @include until($desktop) {
    padding-left: $gap;
    padding-right: $gap;
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.site-header {
  @include below-desktop-padding;
  background: $dark;
  padding: 2rem 0;
  margin-bottom: 2rem;

  .navbar-brand {
    align-items: center; // original: stretch
  }

  .site-title {
    font-size: $size-4;
    font-weight: bold;
    margin: 0;

    @include until(450px) {
      font-size: $size-5;
    }

    a {
      text-decoration: none;
      color: $dark-invert;
    }
  }
}

.content {
  .main {
    @include below-desktop-padding;
  }

  // Fix
  .tabs ul {
    margin-left: 0;
  }
}

.footer {
  @include below-desktop-padding;
  margin-top: 2rem;
  padding: 2rem 0;
}

// Elements

.incident-listing {
  margin-bottom: 2em;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-title {
    margin: 0;
    font-weight: normal;
  }
}

.embed-links {
  &-tabs {
    margin-bottom: 1em;
  }
}

// reddit embed iframe wrapper
.embedly-card-hug {
  margin: 0 !important;
}

.false-hero {
  font-size: $size-5;
  margin: 1em 0;
}
